* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

body {
	/* background-color: #eaeaea; */
	background-image: url(/assets/img/hero/hero16.png);
	font-size: 18px;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	/* margin: 50px; */
}
  
/* Container */
.container {
	display: grid;
	gap: 10px;
}


 /* Header */
.header {
	display: grid;
	grid-template-areas: 
	'hero hero feature-1'
	'hero hero feature-2';
}

.hero {
	grid-area: hero;
	min-height: 300px;
	background-image: url(/assets/img/hero/hero4.png);
	background-size: cover;
	color: white;
	background-position: center;
	padding: 50px;
}
 
.hero h2, .hero p {
	display: none; 
	background-color: white;
} 


.jumbotron {
	height: 400px;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0 -140px;
	position: relative;
}

.jumbotron img {
	width: 100px;
	border: 5px solid #eaeaea;
	align-items: center;
	border-radius: 50%;

}

.jumbotron h1, .jumbotron p {
	color: black;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	font-size: 15px;
	font-weight: bold;
}


.features {
	background-color: #000;
	color: black;
	display: grid;
	/*justify-content: center;
	align-content: center; */ 
	place-content: center;
	text-align: center;
	cursor: pointer;
}

.feature-1 {
	grid-area: feature-1;
	background-color: #eaeaea;
	/* background-image: url(img/wood_pattern5.png); */
	background-size: cover;
}

.feature-2 {
	grid-area: feature-2;
	background-color: #eaeaea;
	/* background-image: url(img/wood_pattern5.png); */
	background-size: cover;
}

.features .icon {
	font-size: 3em;
	font-weight: 200;
}

.features h4 a {
	color: black;
}

/* Navigasi */

.menu {
	order: -1;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.menu .brand {
	font-size: 1.3em;
	color: #333;
}

.menu ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 5px;
}

.menu a {
	display: block;
	background-color: #000;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	text-transform: uppercase;
	font-size: 0.9em;
}

.menu a:hover {
	color: white;
}

.menu-list a {
	color: #eaeaea;
}



/* Hamburger Menu */
.menu-toggle {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
	position: relative;
	z-index: 999;
}

.menu-toggle input {
	display: block;
	position: absolute;
	background-color: black;
	width: 40px;
	height: 28px;
	left: -5px;
	top: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: black;
	border-radius: 3px; 
	transition: all 0.5s;
}


/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
	background-color: white;
	transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
	background-color: white;
	transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
	opacity: 0;
	transform: scale(0);
}


/* Services */
.services {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.service {
	background-color: white;
	padding: 15px;
 	text-align: center;
 	border: 1px solid #aaa;
 	border-radius: 3px;
 	border-radius: 0 0 2px rgba(0, 0, 0, 0.3); 

}


.service .icon {
	font-size: 3em;
}

.service h3 {
	font-size: 1.5em;
	text-decoration-line: none;
}

.service p {
	font-weight: 200px;
	letter-spacing: 1px;
	font-size: 1em;
	text-align: center;
}

.service h3 a {
	color: black;
}

.service h3 a:hover {
	color: salmon;
	transition: 1s;
}

/* pembelajaran, visi misi */
.pembelajaran {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.pembelajaran h2 {

/*	grid-column-start: 1;
	grid-column-end: -1; */
	grid-column: 1 / -1;
	text-align: center;
	margin-bottom: 20px;
}

/* video tutorial */
.tutorial {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	gap: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.tutorial h2 {

/*	grid-column-start: 1;
	grid-column-end: -1; */
	grid-column: 1 / -1;
	text-align: center;
	margin-bottom: 20px;
}

/* Bagian Contact */
.contacts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin-top: 20px;
}


/* Video */
video {
	width: 180px;
}


/*Bagian Footer - Copyright*/
footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	background-color: black;
	padding: 10px;
	text-align: center;
}

footer small {
	color: #fff;
}
/* Responsive Breakpoint */
@media screen and (max-width: 1024px) {
	.menu {
		order: inherit;
		grid-template-columns: 1fr;
	}

	.menu .brand {
		display: none;
	}

	.hero h2, .hero p {
		display: block;
		background-color: transparent;
		color: black;
		padding: 5px;
		margin-bottom: 5px;
		font-size: 30px;
	}

	.hero p {
		display: block;
		background-color: transparent;
		color: black;
		padding: 5px;
		margin-bottom: 5px;
		font-size: 30px;
	}


	.hero {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		background-color: black;
		text-align: center;
	}

}



@media screen and (max-width: 768px) {
	.menu {
		order: -1;
		justify-items: end;
	}

	.menu-toggle {
		display: flex;
	}

	.menu ul {
		display: flex;
		position: absolute;
		right: 0;
		height: 100vh;
		top: 0;
		background-color: black;
		width: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		z-index: 1;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 1s;
	}

	.menu ul.slide {
		opacity: 1;
		transform: translateY(0);
	}

}

@media screen and (max-width: 600px) {
	body {
		margin: 15px, 0, 15px, 0;
	}

	.header {
		grid-template-areas: 
		'hero'
		'feature-1'
		'feature-2';
	}
}

@media screen and (max-width: 500px) {
	body {
		margin: 15px, 0, 15px, 0;
	}

	.header {
		grid-template-areas: 
		'hero'
		'feature-1'
		'feature-2';
	}
}












